
@model ContactMessage

<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-12">
				<h1>Contact</h1>
			</div>
		</div>
	</div>
</div>
<!-- End All Pages -->



<!-- Start Contact -->
<div class="contact-box ">
	<div class="container>
		<div class="row">
			<div class="col-lg-12">
				<div class="heading-title text-center">
					<h2>Contact</h2>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				</div>
			</div>
		</div>


		 <div class="overview">
			

			<div class="row">
				<div class="col-lg-12">
					<form method="post" asp-action="AddContactMessage"  >
						<div class="row" style="margin-left:300px ; margin-right:300px">
						<div class="col-md-12">
							<div class="form-group">
						
						<input type="text"
							   asp-for="@Model.Name"
							   class="form-control"
									   placeholder="Your Name" />
									<span asp-validation-for="Name" class="text-danger"></span>
						    </div>
				    	</div>
						<div class="col-md-12">
							<div class="form-group">

								<input type="text"
										   asp-for="@Model.Email"
									   class="form-control"
									   placeholder="Your Email" />
									<span asp-validation-for="Email" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">

								<input type="text"
										   asp-for="@Model.Subject"
									   class="form-control"
									   placeholder="Subject" />
									<span asp-validation-for="Subject" class="text-danger"></span>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">

								<textarea asp-for="@Model.Message"
									   class="form-control"
									   placeholder="Your Message" ></textarea>
									<span asp-validation-for="Message" class="text-danger"></span>
							</div>
						</div>

						<div class="submit-button text-center">
							<button class="btn btn-common"  type="submit">Send Message</button>
							
							<div class="clearfix"></div>
						</div>
						</div>
				    </form>
				
			     </div>
		    </div>

         </div>

			
	</div>
</div>
    <!-- End Contact -->
