
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/DashBoardStyle/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/DashBoardStyle/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Live_Dinner_3.styles.css" asp-append-version="true" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Live Dinner Restaurant - Responsive HTML5 Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/DashBoardStyle/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/DashBoardStyle/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/css/DashBoardStyle/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/DashBoardStyle/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body >
    
     <!-- Start header -->
    <header class="top-navbar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height:100px" >
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbars-rs-food">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a asp-controller="Home" asp-action="Index" class="nav-link" >Home</a></li>
                        <li class="nav-item"><a class="nav-link"  asp-action="AddChef">Add Chef</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="ViewChefs">View Chefs </a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="AddMeal">Add Meal </a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="ViewMeals">View Meals </a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="AddBlog">Add Blog</a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="ViewBlogs">View Blogs </a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="ViewMessages">View Messages </a></li>
                        <li class="nav-item"><a class="nav-link" asp-action="ViewReservations">View Reservations</a></li>
                       
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header --> 
    <div class="dash-content">
        @RenderBody()
    </div>
   
	
	<a href="#" id="back-to-top" title="Back to top" style="display: none;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>

	<!-- ALL JS FILES -->
	<script src="~/js/DashBoradScript/js/jquery-3.2.1.min.js"></script>
	<script src="~/js/DashBoradScript/js/popper.min.js"></script>
    <script src="~/js/DashBoradScript/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/js/DashBoradScript/js/jquery.superslides.min.js"></script>
    <script src="~/js/DashBoradScript/js/images-loded.min.js"></script>
    <script src="~/js/DashBoradScript/js/isotope.min.js"></script>
    <script src="~/js/DashBoradScript/js/baguetteBox.min.js"></script>
    <script src="~/js/DashBoradScript/js/form-validator.min.js"></script>
    <script src="~/js/DashBoradScript/js/contact-form-script.js"></script>
    <script src="~/js/DashBoradScript/js/custom.js"></script>
</body>
</html>

